// color variables
$blue: #034ffd;
$yellow: #ffc300;
$black: #010101;
$white: #fdfdfd;

// font Variables
$josefin: "Josefin Sans", sans-serif;
$montserrat: "Montserrat Alternates", sans-serif;
$roboto: "Roboto Slab", serif;

.form-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $blue;
  padding: 30px 50px;
  .form-heading {
    font-family: $josefin;
    font-size: 26px;
    color: $black;
  }
  .form-caption {
    margin-top: 8px;
    font-family: $montserrat;
    font-size: 14px;
    font-weight: 400;
    color: $black;
    a {
      color: $blue;
      text-decoration: none;
    }
  }

  form {
    margin: 25px 0;
    .input-div {
      border: 1px solid $black;
      width: 350px;
      height: 50px;
      margin: 10px 0;
      border-radius: 5px;
      padding: 3px 10px;
      label {
        font-family: $roboto;
        font-size: 10px;
        display: block;
        opacity: 0.8;
        color: $black;
      }
      input {
        background-color: transparent;
        outline: none;
        border: none;
        font-family: $roboto;
        font-weight: 500;
        color: $black;
        margin-top: 5px;
        width: 100%;
      }

      select {
        background-color: transparent;
        width: 100%;
        border: none;
        margin-top: 5px;
        font-family: $roboto;
        font-weight: 500;
        color: $black;
      }
    }
    .submit-btn {
      margin-top: 20px;
      width: 350px;
      height: 50px;
      border-radius: 5px;
      outline: none;
      border: none;
      cursor: pointer;
      font-family: $roboto;
      font-weight: 500;
      background-color: $black;
      color: $yellow;
    }
  }
}

@media only screen and (max-width: 917px) {
  .form-section {
    left: 60%;
    top: 45%;
    padding: 13px 23px;
  }
}

@media only screen and (max-width: 768px) {
  .form-section {
    form {
      .input-div {
        width: 300px;
      }
      .submit-btn {
        width: 300px;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .form-section {
    // padding: 0;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0);
    border: none;
    min-height: 500px;

    .form-heading,
    .form-caption {
      position: relative;
      left: -20px;
    }
  }
}

@media only screen and (max-width: 333px) {
  .form-section {
    .form-heading,
    .form-caption {
      left: 0;
    }
  }
}
