@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Montserrat+Alternates:wght@300;400&family=Roboto+Slab:wght@300;400;500&display=swap");
// font Variables
$josefin: "Josefin Sans", sans-serif;
$montserrat: "Montserrat Alternates", sans-serif;
$roboto: "Roboto Slab", serif;

// color variables
$blue: #034ffd;
$yellow: #ffffff;
// $yellow: #ffc300;
$black: #010101;
$white: #fdfdfd;

// new

$peach:#FFF0F4;
$darkpeach:#ecced5;
$bluetext:#182A88;
$lightbgforoptions:#F3F5F9;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  width: 100vw;
  background-color: $yellow;
  // background-image: url(/assets/images/pattern1.png);
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-blend-mode: overlay;
}
header {
  width: 100%;
  height: 10vh;
  padding: 0px 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  .logo {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 65%;
      margin-right: 5px;
      margin-bottom: 10px;
    }
    .name {
      font-family: $josefin;
      font-size: 600;
      color: $bluetext;
      font-size: 32px;
    }
  }
}

@media only screen and (max-width: 600px) {
  header {
    margin-top: 10px;
    justify-content: center;
    min-height: 80px;
    .logo {
      flex-direction: column;
      img {
        height: 55%;
        margin-bottom: 3px;
        margin-right: 0;
      }
      .name {
        font-size: 22px;
      }
    }
  }
}
