@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Montserrat+Alternates:wght@300;400&family=Roboto+Slab:wght@300;400;500&display=swap");
// font Variables
$josefin: "Josefin Sans", sans-serif;
$montserrat: "Montserrat Alternates", sans-serif;
$roboto: "Roboto Slab", serif;

// color variables
$blue: #034ffd;
$yellow: #ffffff;
// $yellow: #ffc300;
$black: #010101;
$white: #fdfdfd;

// new
$peach: #fff0f4;
$darkpeach: #ecced5;
$bluetext: #182a88;
$lightbgforoptions: #f3f5f9;
$btnskyblue: #35c0d5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

.home-section {
  width: 100%;
  padding: 40px 100px;
  .home-quote {
    .quote-text {
      font-family: $josefin;
      font-size: 60px;
      margin-top: 30px;
    }
    .quote-author {
      font-family: $montserrat;
      font-weight: 300;
      font-size: 22px;
      color: $bluetext;
      margin-top: 10px;
    }
  }
  .tagline {
    font-family: $roboto;
    font-weight: 400;
    font-size: 24px;
    margin-top: 25px;
  }
  .cta-text{
    font-family: $montserrat;
    font-size: 12px;
    font-weight: 300;
    margin-top: 40px;
  }

  .start {
    color: $bluetext;
    box-shadow: $bluetext 0 0px 0px 2px inset;
    font-family: $montserrat;
    -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
    -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
    -ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
    -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
    transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
    display: block;
    margin-top: 10px;
    max-width: 180px;
    text-decoration: none;
    border-radius: 10px;
    padding: 20px 30px;

    &:hover {
      color: rgb(255, 255, 255);
      box-shadow: $bluetext 0 80px 0px 2px inset;
    }
  }

  .slides-container {
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    .slide1,
    .slide2,
    .slide3 {
      border: 2px solid $bluetext;
      padding: 20px;
      width: 400px;
      border-radius: 10px;
      max-height: 330px;
      .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        margin: 0 auto;
        img {
          width: 210px;
          height: 180px;
        }
      }
      .slides-text {
        padding: 20px 10px;
        .slides-title {
          font-family: $josefin;
          font-size: 24px;
          font-weight: 600;
        }
        .slides-caption {
          font-family: $montserrat;
          font-size: 16px;
          color: $bluetext;
          font-weight: 400;
          margin-top: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .home-section {
    .home-quote {
      .quote-text {
        font-size: 40px;
      }
      .quote-author {
        font-size: 16px;
      }
    }
    .tagline {
      font-size: 16px;
    }
    .start {
      margin: 25px 0;
    }
    .slides-container {
      .slide1,
      .slide2,
      .slide3 {
        width: 250px;
        padding: 10px;
        border: none;
        
        .img-container{
          width: 200px;
          img{
            width: 130px;
            height: 150px;
          }
        }
        .slides-text{
          text-align: center;
          .slides-caption{
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 426px) {
  .home-section {
    padding: 5px 30px;
    .home-quote {
      .quote-text {
        font-size: 40px;
      }
    }
    .tagline {
      margin-top: 20px;
    }
    .start {
      margin-top: 20px;
    }
    .slides-container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      .slide1,.slide2,.slide3{
        margin:20px;
        .img-container{
          width: 250px;
          img{
            width: 200px;
          }
        }
      }
      .slide3{
        margin-bottom: 100px;
      }
    }
  }
}
