// color variables
$blue: #034ffd;
$yellow: #ffc300;
$black: #010101;
$white: #ffffff;

// new

$peach:#FFF0F4;
$darkpeach:#ecced5;
$bluetext:#182A88;
$bgpurple:#ecd0ff;


nav {
  // background-color: $peach;
  background-color: $white;
  position: fixed;
  z-index: 999;
  right: 70px;
  top: 40px;
  width: 400px;
  height: 50px;
  // box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  // box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px; 
   border-radius: 12px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  ul {
    list-style-type: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        width: 35px;
        height: 32px;
        border-radius: 50%;
        background-color: $bgpurple;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 20px;
          height: 20px;
          margin-top: 5px;
        }
      }
      img {
        width: 20px;
        height: 20px;
        transition: transform 0.1s ease-in;
        &:hover {
          transform: scale(1.2, 1.2);
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {


nav{
  right: 30px;
  bottom: 50px;
}


}
@media only screen and (max-width: 426px) {
  nav {
    width: 88%;
    height: 60px;
    bottom: 20px ;
    top: 90%;
    right: 50%;
    transform: translate(50%, 0%);
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px; 

    ul {
      flex-direction: row;
    }
  }
}
